extends layout

block content
  h1 物品を利用予約するWebサイト
  h2 物品を予約するページ
  form#form()
    div
      h5 予約開始日時
      input(type="date" name="startDate")
      select(name="startTime")
        option(value="") -
        - for (let i = 0; i <= 12; i++)
          option(value=`${i}`) #{i}
      select(name="startMin")
        option(value="") -
        - for (let i = 0; i < 60; i+=15)
          option(value=`${i}`) #{i}
    div
      h5 予約終了日時
      input(type="date" name="endDate")
      select(name="endTime")
        option(value="") -
        - for (let i = 0; i <= 12; i++)
          option(value=`${i}`) #{i}
      select#log(name="endMin")
        option(value="") -
        - for (let i = 0; i < 60; i+=15)
          option(value=`${i}`) #{i}
    div
      input(type="hidden" value=userId)
    div
      button(type="submit") 投稿


    script.
      const fm = document.getElementById("form");
      const log = document.getElementById("log");
      console.log(fm);
      fm.addEventListener('submit', function (event) {
        if (0===0) {
          log.setCustomValidity("I am expecting an e-mail address!");
        } else {
          log.setCustomValidity("");
        }
      });
