extends layout

block content

  h2 [#{item.name}]を予約するページ
  - const dDay = displayDay.split(' ')[0];
  - const dTime = displayDay.split(' ')[1];

  h3.mt-5#reservationDay 予約状況

  input#displayDate(type="date" name="displayDate" value=dDay)
  select#displayTime
    - for (let i = 0; i < 24; i++)
      option(value=`${i}` id=`displayTimeOption${i}` name="displayTime") #{i}
  | 時
  button#displaySpecifiedTime.m-3(type="submit" data-item-id=item.id) 表示する



  div.text-nowrap.table-responsive
    table.reserveTable
      tr
        - for (let i = 0; i < 24; i++)
          th.reserveTableHeader(colspan="4" id=`displayHeaderDay${i}`)
      tr
        - for (let i = 0; i < 24; i++)
          th.reserveTableHeader(colspan="4" id=`displayHeaderHours${i}`)
      tr
        - for (let i = 0; i < 24; i++)
          td.reserveTableBoxFirst.reserveTableBox
          td.reserveTableBoxInter.reserveTableBox
          td.reserveTableBoxInter.reserveTableBox
          td.reserveTableBoxLast.reserveTableBox

  table.m-2.text-nowrap
    tr
      td.tableLegend.table-info
      td
        pre 予約可　
      td.tableLegend.table-danger
      td
        pre 別の予約あり　
      td.tableLegend.table-active
      td
        pre 予約不可
      //- div(style="width:10px; height:10px;").table-active
      //-   span hello
      //- div(style="width:10px; height:10px;").table-info
      //- div(style="width:10px; height:10px;").table-danger

  button#displayBeforeDay.btn-info(disabled) 以前のタイムライン(未)
  button#displayAfterDay.m-3.btn-info(disabled) 以後のタイムライン(未)


  form.mt-4.card(style="width: 21rem;")#form(method="post" action=`/items/${item.id}/reservate`)
    div.m-3
      h5 予約開始日時
      div#startErr.err

      input#startDate(type="date" name="startDate")
      select#startTime(name="startTime")
        option(value="") -
        - for (let i = 0; i < 24; i++)
          option(value=`${i}`) #{i}
      | 時
      select#startMin(name="startMin")
        option(value="") -
        - for (let i = 0; i < 60; i+=15)
          option(value=`${i}`) #{i}
      | 分
    div.m-3
      h5 予約終了日時
      div#endErr.err

      input#endDate(type="date" name="endDate")
      select#endTime(name="endTime")
        option(value="") -
        - for (let i = 0; i < 24; i++)
          option(value=`${i}`) #{i}
      | 時
      select#endMin(name="endMin")
        option(value="") -
        - for (let i = 0; i < 60; i+=15)
          option(value=`${i}`) #{i}
      | 分
    div
      input#itemId(type="hidden" name="itemId" value=item.id)
      input#userId(type="hidden" name="userId" value=user.id)

    div#nullErr.err
    div#dupErr.err

    input(type="hidden" name="_csrf" value!=csrfToken)
    div.m-3
      button#button(type="submit") 予約する

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="/javascripts/bundle.js")
  //- script(src="/javascripts/entry.js")