extends layout

block content
  h1 物品を利用予約するWebサイト
  h2 [#{item.name}]を予約するページ

  p.mt-3 #{displayDay}の予約状況
  button.m-3.btn-info 12時間前
  button.m-3.btn-info 12時間後

  table.reserveTable
    tr
      - let st = 0
      - for (let i = st; i < st+24; i++)
        - const tm = ('00' + String(i)).slice(-2);
        th.reserveTableHeader(colspan="4") #{tm}:00
    tr
      - for (let i = 0; i < 24; i++)
        td.reserveTableBoxFirst.reserveTableBox
        td.reserveTableBoxInter.reserveTableBox
        td.reserveTableBoxInter.reserveTableBox
        td.reserveTableBoxLast.reserveTableBox

  form#form(method="post" action=`/items/${item.id}/reservate`)
    div.m-3
      h5 予約開始日時
      div#startErr.err

      input#startDate(type="date" name="startDate")
      select#startTime(name="startTime")
        option(value="") -
        - for (let i = 0; i < 24; i++)
          option(value=`${i}`) #{i}
      select#startMin(name="startMin")
        option(value="") -
        - for (let i = 0; i < 60; i+=15)
          option(value=`${i}`) #{i}
    div.m-3
      h5 予約終了日時
      div#endErr.err

      input#endDate(type="date" name="endDate")
      select#endTime(name="endTime")
        option(value="") -
        - for (let i = 0; i < 24; i++)
          option(value=`${i}`) #{i}
      select#endMin(name="endMin")
        option(value="") -
        - for (let i = 0; i < 60; i+=15)
          option(value=`${i}`) #{i}
    div
      input#itemId(type="hidden" name="itemId" value=item.id)
      input#userId(type="hidden" name="userId" value=user.id)

    div#nullErr.err
    div#dupErr.err

    div.m-3
      button#button(type="submit") 投稿

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="/javascripts/bundle.js")