extends layout

block content
  h1 物品を利用予約するWebサイト
  h2 物品を予約するページ
  form#form
    div
      h5 予約開始日時
      div#startErr.err

      input#startDate(type="date" name="startDate")
      select#startTime(name="startTime")
        option(value="") -
        - for (let i = 0; i < 24; i++)
          option(value=`${i}`) #{i}
      select#startMin(name="startMin")
        option(value="") -
        - for (let i = 0; i < 60; i+=15)
          option(value=`${i}`) #{i}
    div
      h5 予約終了日時
      div#endErr.err

      input#endDate(type="date" name="endDate")
      select#endTime(name="endTime")
        option(value="") -
        - for (let i = 0; i < 24; i++)
          option(value=`${i}`) #{i}
      select#endMin(name="endMin")
        option(value="") -
        - for (let i = 0; i < 60; i+=15)
          option(value=`${i}`) #{i}
    div
<<<<<<< Updated upstream
      input(type="hidden" value=userId)
=======
      input#itemId(type="hidden" name="itemId" value=itemId)
      input#userId(type="hidden" name="userId" value=user.id)
>>>>>>> Stashed changes

    div#nullErr.err
    div#dupErr.err
    div
      button#button(type="submit") 投稿

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="/javascripts/validate.js")