extends layout

block content
  h2 #{user.name} さんの予約一覧
  if reservations.length
    each reservation in reservations
      div.my-2.card(style="width: 18rem;")
        h4 物品名
        p #{reservation.itemName}
        h4 コメント
        p #{reservation.comment}
        h4 予約開始時間
        p #{reservation.startTime}
        h4 予約終了時間
        p #{reservation.endTime}
        form(method='post' action=`/items/reservate/${reservation.reservationId}/delete`)
          div.text-right
            input(type="hidden" name="_csrf" value!=csrfToken)
            button.m-1.btn-danger(type='submit') 予約を削除する

  else
    p 予約はありません